<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <main class="editUserMain">
        <div class="editUserLeft">
            <picture class="editLogo">
                <img src="/Images/Logo1.svg" class="register_logo">
            </picture>
        </div>
        <div class="editUserRight">
            <h1 class="editUserTitle">
                Editá tu perfil
            </h1>
            <% if (locals.errors) { 
                errors.forEach(error => { %>
                <p class=""><%= error.msg %></p>
            <% });
            } %>

            <form method="POST" action="/usuario/:id/editar?_method=PUT">
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Nombre</label>
                    <input type="text" class="editUserInput" name="nombre" value="<%= findUser.nombre %>" placeholder="Ej:Juan" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Apellido</label>
                    <input type="text" class="editUserInput" value="<%= findUser.apellidos %>" name="apellido" placeholder="Ej:Perez" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Email</label>
                    <input type="text" class="editUserInput" name="email" value="<%= findUser.email%>" placeholder="nombre@ejemplo.com" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Descripción</label>
                    <input type="textarea" class="editUserInput" name="descripcion" value="<%= findUser.descripcion%>" placeholder="Contanos sobre vos!" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Contraseña</label>
                    <input type="password" class="editUserInput" value="<%= findUser.password %>" name="contraseña" placeholder="Contraseña" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Confirmar
                        contraseña</label>
                    <input type="password" class="editUserInput" value="<%= '' %>" placeholder="Contraseña" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Categoria</label>
                    <div class="category-crear">
                        <ul>
                            <% categorias.forEach(el => { %>
                                <% if (el.id == findUser.categoria_ID) { %>   
                                    <li class="li_crear">
                                        <label for="category-crear"><input type="radio" name="categoria" value="<%= el.id %>" aria-selected="true"><%= el.nombre %></label><br>
                                    </li>                                 
                                <% } else { %>
                                    <li class="li_crear">
                                        <label for="category-crear"><input type="radio" name="categoria" value="<%= el.id %>"><%= el.nombre %></label><br>
                                    </li>
                                <% } %>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Foto perfil</label>
                    <input type="file"  placeholder="Archivo" name="imagen" id="imagen" value="<%= findUser.imagen %> ">
                </div>
                <div class="editUserBTNS">
                    <input type="submit" value="Actualizar" class="editUserBTNActualizar">
                    <input type="reset" value="Borrar" class="editUserBTNBorrar">
                </div>
            </form>
        </div>
    </main>
</body>
</html>