<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <section>
        <img class="slide" src="/Images/banner.jpg" width="100%">
        <!--
        <div class="carrusel" width="100%">
            <div class="mySlides fade">
                <img class="slide" src="/Images/carrusel1.jpg" width="100%">
                <div class="tituloCarrusel">Aprendé a tu manera desde donde estés</div>
            </div>
            <div class="mySlides fade">
                <img class="slide" src="/Images/carrusel2.jpg" width="100%">
                <div class="tituloCarrusel">Próximamente: Pastelería nivel 1</div>
            </div>
            <div class="mySlides fade">
                <img class="slide" src="/Images/carrusel3.jpg" width="100%">
                <div class="tituloCarrusel">Que tu pasión por aprender te guíe</div>
            </div>
        </div>
        <a class="btn-prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="btn-next" onclick="plusSlides(1)">&#10095;</a>
        <div style="text-align: center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    -->
    </section>
    <main>
        <h1>Cursos Recomendados</h1>
        <section>
            <ul>
                <% cursos.forEach(el =>{ %>
                    <li class="li-curso">
                        <article class="container-curso">
                            <img src="<%=el.imagen_principal %>" width="100%">
                            <div class="course-card">
                                <h3><%=el.titulo %></h3>
                                <div>
                                    <p><%=el.profesor %></p>
                                    <div class="media">
                                        <i class="fas fa-file-alt"></i>
                                        <i class="fas fa-headphones"></i>
                                        <i class="fas fa-video"></i>
                                    </div>
                                </div>
                                <p><%=el.precio %></p>
                            </div>
                            <div class="buttons">
                                <button class="add"><i class="fas fa-cart-plus"></i></button>
                                <button class="buy">Comprar</button>
                            </div>
                        </article>        
                    </li>
                <% }) %>
            </ul>

        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>